body, html {
   background: url(../images/background.jpg);
}
#wrapper {
   background: url(../images/gate.png);
   background-repeat: no-repeat;
   background-size: 100%;
   width: 75%;
   min-height: 98vh;
   margin: 0 auto;
   padding: 1px 0 0 0;
}
header {
   text-align: center;
   margin-top: 10px;
   color: tan;
}
#title {
   font-size: 6vw;
   font-family: 'ZCOOL KuaiLe', cursive;
   margin-bottom: 5%;
}
header p {
   font-size: 1.7vw;
   padding: 0 28%;
   margin-top: 0px;
}
#button-text {
   margin-bottom: 4%;
}
#start-button:hover {
   cursor: pointer;
}
#game-box {
   text-align: center;
   font-size: 3vw;
   color: yellow;
   margin-top: 8%;
}
.timer-p {
   font-size: 1.5vw;
}
.question {
   font-size: 3vw;
   margin-bottom: 20px;
}
.answer {
   font-size: 2.5vw;
   margin: 0 auto;
   padding: 8px;
   width: 20%;
}
.answer:hover {
   background: orange;
   cursor: pointer;
}