body, html {
   background: url(../images/bg.jpg);
}
#wrapper {
   background: rgb(121, 120, 120);
   width: 70%;
   min-height: 750px;
   margin: -1px auto 0 auto;
   padding: 1px 0 0 0;
}
header {
   text-align: center;
   margin-top: 10px;
}
header p {
   margin-top: 0px;
}
#game-box {
   text-align: center;
   margin-top: 75px;
}
.answer {
   padding: 0;
   margin: 15px
}
.answer:hover {
   background: orange;
   cursor: pointer;
   padding: 5px;
}